name: test & publish

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
    - uses: actions/checkout@v2
    - name: install node packages
      uses: actions/setup-node@v4
      with:
        node-version: 24.x
        registry-url: 'https://registry.npmjs.org'
    - run: npm install
    - run: npm test
    - name: Publish
      run: npm publish --provenance --access public --ignore-scripts
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
